{% extends "core/layout/base.html" %}
{% load crispy_forms_tags %}
{% block title %}{{card_title}}{% endblock %}
{% block stylesheet %}{% endblock %}
{% block content %}
<div class="row">
    <div class="col-xl">
        <div class="card">
            <div class="card-header">
                <div class="card-head-row">
                    <div class="card-title">{{card_title}}</div>
                    <div class="card-tools">
                        <div class="card-tools">
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div class="row">
                    {% crispy readonly_form %}
                </div>
                <form method="post">
                    <div class="row">
                        {% crispy form %}
                    </div>
                    <div class="row">
                        <div class="col-xl-3">
                            <div class="form-group">
                                <button type="submit" class="btn btn-primary btn-lg btn-block">
                                    <i class="fas fa-save"></i>
                                    <div>Salvar</div>
                                </button>
                            </div>
                        </div>
                        <div class="col-xl-3">
                            <div class="form-group">
                                <button type="button" class="btn btn-warning btn-lg btn-block"
                                        id="account_reset_password_button">
                                    <i class="fas fa-save"></i>
                                    <div>Redefinir Senha</div>
                                </button>
                            </div>
                        </div>
                        <div class="col-xl-3">
                            {% if account_obj.last_login == account_obj.date_joined %}
                            <div class="form-group">
                                <button type="button" class="btn btn-danger btn-lg btn-block"
                                        id="account_delete_button">
                                    <i class="fas fa-trash-alt"></i>
                                    <div>Excluir</div>
                                </button>
                            </div>
                            {% endif %}
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block javascript %}
<script>
    $("#account_reset_password_button").click(function(e) {
        swal({
            text: "Tem certeza que deseja redefinir a senha desta conta?",
            icon: "info",
            buttons:{
                cancel: {
                    text : "Não",
                    visible: true,
                    className: "btn btn-danger"
                },
                confirm: {
                    text : "Sim",
                    className : "btn btn-success"
                },
            }
            }).then((Delete) => {
            if (Delete) {
                window.location.href = "{% url "account_reset_password" account_obj.id %}"
            } else {
                swal.close();
            }
        });
    });
</script>

{% if account_obj.last_login == account_obj.date_joined %}
<script>
    $("#account_delete_button").click(function(e) {
        swal({
            text: "Tem certeza que deseja excluir?",
            icon: "info",
            buttons:{
                cancel: {
                    text : "Não",
                    visible: true,
                    className: "btn btn-danger"
                },
                confirm: {
                    text : "Sim",
                    className : "btn btn-success"
                },
            }
            }).then((Delete) => {
            if (Delete) {
                window.location.href = "{% url "account_delete" account_obj.id %}"
            } else {
                swal.close();
            }
        });
    });

</script>

{% endif %}
{% endblock %}

