{% extends "core/layout/base.html" %}
{% block title %}{{card_title}}{% endblock %}
{% block stylesheet %}{% endblock %}
{% block content %}
<div class="row">
    <div class="col-xl">
        <div class="card">
            <div class="card-header">
                <div class="card-head-row">
                    <div class="card-title">{{card_title}}</div>
                    <div class="card-tools">
                        <div class="card-tools">
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <form action="{% url 'account_change_password' %}" method="POST">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                {% include 'core/include/base_modelform.html'%}
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xl-3">
                        </div>
                        <div class="col-xl-3">

                        </div>
                        <div class="col-xl-3">

                        </div>
                        <div class="col-xl-3">
                            <div class="form-group">
                                <button class="btn btn-primary btn-lg btn-block">
                                    <i class="fas fa-save"></i>
                                    <div>Salvar</div>
                                </button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block javascript %}
{% endblock %}

